/**************TAG SELECTORS****************/

hr {
  border-style:none;
  border-top-style:dotted;
  height: 5px;
  border-width: 10px;
  border-color: grey;
  width: 5%;
}

h1 {
  color: blanchedalmond;
}

h2 {
  color: #66BFBF;
}

body {
  background-color: #056674;
}

/********CLASS SELECTORS*********/

.profile{
    background-color:green;
}

.rounded-corners {
  border-radius: 50%;
}

/***********ID SELECTORS************/

#heading{
    color:#66BFBF;
}
/*.brocolli:hover{
    background-color: red;
}*/

/*.circular{
    border-radius:100%;
}*/
